In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Read the data into a Pandas DataFrame
daily_cases_df = pd.read_csv('../CSV_files/dailycasesdeaths.csv')
daily_cases_df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
336535,2023-11-18,ZW,Zimbabwe,AFRO,0,265890,0,5725
336536,2023-11-19,ZW,Zimbabwe,AFRO,0,265890,0,5725
336537,2023-11-20,ZW,Zimbabwe,AFRO,0,265890,0,5725
336538,2023-11-21,ZW,Zimbabwe,AFRO,0,265890,0,5725
336539,2023-11-22,ZW,Zimbabwe,AFRO,0,265890,0,5725

In [3]:
daily_cases_df = pd.read_csv('../CSV_files/dailycasesdeaths.csv')
daily_cases_df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [4]:
daily_cases_cleaned_df = daily_cases_df.drop('Country_code', axis=1)

daily_cases_cleaned_df

,Date_reported,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...
336535,2023-11-18,Zimbabwe,AFRO,0,265890,0,5725
336536,2023-11-19,Zimbabwe,AFRO,0,265890,0,5725
336537,2023-11-20,Zimbabwe,AFRO,0,265890,0,5725
336538,2023-11-21,Zimbabwe,AFRO,0,265890,0,5725
336539,2023-11-22,Zimbabwe,AFRO,0,265890,0,5725

In [5]:
#FINAL DAILY CASES DF
daily_cases_cleaned1_df = daily_cases_cleaned_df.drop('WHO_region', axis=1)

daily_cases_cleaned1_df

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0,0
1,2020-01-04,Afghanistan,0,0,0,0
2,2020-01-05,Afghanistan,0,0,0,0
3,2020-01-06,Afghanistan,0,0,0,0
4,2020-01-07,Afghanistan,0,0,0,0
...,...,...,...,...,...,...
336535,2023-11-18,Zimbabwe,0,265890,0,5725
336536,2023-11-19,Zimbabwe,0,265890,0,5725
336537,2023-11-20,Zimbabwe,0,265890,0,5725
336538,2023-11-21,Zimbabwe,0,265890,0,5725
336539,2023-11-22,Zimbabwe,0,265890,0,5725

In [6]:
daily_cases_cleaned1_df.to_csv("../CSV_files/FINAL1cleaneddailycasesdeaths.csv", encoding='utf8', index=False)

In [7]:
# Read the data into a Pandas DataFrame
vaccinations_df = pd.read_csv('../CSV_files/vaccinationdata.csv')
vaccinations_df.head(10)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,ARG,AMRO,REPORTING,2023-11-17,1.165716e+08,41188650,257.926,91.134,38087569,84.272,NaN,2020-12-29,7.0,27608419.0,61.086
1,Australia,AUS,WPRO,REPORTING,2023-10-05,6.877077e+07,22193733,269.691,87.035,21602288,84.715,NaN,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,BHR,EMRO,REPORTING,2022-12-21,3.476633e+06,1241174,204.319,72.943,1226796,72.098,NaN,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,VGB,AMRO,REPORTING,2023-06-02,4.145300e+04,19466,137.094,64.378,18261,60.393,NaN,2021-02-11,3.0,3726.0,12.323
4,Egypt,EGY,EMRO,REPORTING,2023-05-21,1.126735e+08,56907319,110.103,55.609,42337175,41.371,NaN,2021-01-24,10.0,15217352.0,14.870
5,El Salvador,SLV,AMRO,REPORTING,2023-08-25,1.144838e+07,4659970,176.504,71.844,4396448,67.782,NaN,2021-02-17,6.0,1905226.0,29.374
6,Eswatini,SWZ,AFRO,REPORTING,2023-06-04,8.702050e+05,526050,75.007,45.343,427335,36.834,NaN,2021-03-19,3.0,179450.0,15.468
7,Greece,GRC,EURO,REPORTING,2023-10-01,2.198588e+07,7917288,205.100,75.693,7745574,74.051,NaN,2020-12-23,7.0,5902357.0,56.429
8,Guam,GUM,WPRO,REPORTING,2023-01-31,3.526980e+05,135612,208.975,80.351,128788,76.308,NaN,2021-01-04,3.0,83603.0,49.535
9,India,IND,SEARO,REPORTING,2023-11-23,2.208365e+09,1027419851,160.026,74.450,952128795,68.995,NaN,2021-01-16,8.0,228816435.0,16.581

In [8]:
# Read the data into a Pandas DataFrame
vaccinations_df = pd.read_csv('../CSV_files/vaccinationdata.csv')
vaccinations_df.tail(10)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
219,Russian Federation,RUS,EURO,OWID,2023-09-27,187374508.0,89081596,128.400,61.392,79702396,54.928,NaN,NaN,2.0,NaN,NaN
220,Samoa,WSM,WPRO,REPORTING,2023-02-24,453130.0,191403,228.376,96.466,177954,89.688,NaN,2021-04-18,2.0,82268.0,41.463
221,Sierra Leone,SLE,AFRO,REPORTING,2023-07-30,9155936.0,5676123,114.779,71.156,4961886,62.203,NaN,2021-03-15,2.0,1201709.0,15.065
222,Singapore,SGP,WPRO,REPORTING,2023-08-29,15302530.0,5284679,261.566,90.331,5248693,89.716,NaN,2020-12-30,4.0,4769158.0,81.519
223,Sint Eustatius,XBA,AMRO,REPORTING,2023-06-02,4319.0,1791,137.592,57.056,1686,53.711,NaN,NaN,NaN,767.0,24.435
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,NaN,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,NaN,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,NaN,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,NaN,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,NaN,2021-03-08,6.0,57975220.0,59.560

In [9]:
#drop vaccines used column 
vaccinations_cleaned_df = vaccinations_df.drop('VACCINES_USED', axis=1)

vaccinations_cleaned_df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,ARG,AMRO,REPORTING,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,AUS,WPRO,REPORTING,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,BHR,EMRO,REPORTING,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,VGB,AMRO,REPORTING,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,EGY,EMRO,REPORTING,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [10]:
#drop ISO3 column 
vaccinations1_cleaned_df = vaccinations_cleaned_df.drop('ISO3', axis=1)

vaccinations1_cleaned_df

,COUNTRY,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,AMRO,REPORTING,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,WPRO,REPORTING,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,EMRO,REPORTING,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,AMRO,REPORTING,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,EMRO,REPORTING,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [11]:
#drop who region column 

vaccinations2_cleaned_df = vaccinations1_cleaned_df.drop('WHO_REGION', axis=1)

vaccinations2_cleaned_df

,COUNTRY,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,REPORTING,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,REPORTING,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,REPORTING,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,REPORTING,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,REPORTING,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [12]:
#drop datasource column 

vaccinations3_cleaned_df = vaccinations2_cleaned_df.drop('DATA_SOURCE', axis=1)

vaccinations3_cleaned_df

,COUNTRY,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [13]:
#FINAL VACCINATIONS DF

vaccinations3_cleaned_df

,COUNTRY,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [14]:
vaccinations3_cleaned_df.to_csv("../CSV_files/FINA1Lcleanedvaccinationdata.csv", encoding='utf8', index=False)

In [15]:
vaccinations_metadatadf = pd.read_csv('../CSV_files/vaccinationmetadata.csv')
vaccinations_metadatadf.head(10)

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
0,SHN,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
1,GRL,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
2,FRO,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
3,FRO,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
4,BIH,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
5,BIH,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
6,BIH,Sinovac - CoronaVac,Coronavac,Sinovac,NaN,NaN,NaN,NaN,OWID
7,JEY,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
8,JEY,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
9,JEY,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID

In [16]:
columns_to_keep = [ 'VACCINE_NAME', 'PRODUCT_NAME', 'COMPANY_NAME']

vaccines_metadata_cleaned_df = vaccinations_metadatadf[columns_to_keep]

vaccines_metadata_cleaned_df

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [17]:
vaccinations_metadatadf.drop(vaccinations_metadatadf.columns.difference(columns_to_keep), axis=1, inplace=True)

vaccinations_metadatadf

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [18]:
vaccinations_metadatatest = vaccinations_metadatadf

vaccinations_metadatatest

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [19]:
vaccinations_meta_dropped = vaccinations_metadatatest.dropna() 
vaccinations_meta_dropped

                     VACCINE_NAME   PRODUCT_NAME                 COMPANY_NAME
0           AstraZeneca - AZD1222        AZD1222                  AstraZeneca
1             Moderna - mRNA-1273      mRNA-1273                      Moderna
2             Moderna - mRNA-1273      mRNA-1273                      Moderna
3     Pfizer BioNTech - Comirnaty      Comirnaty              Pfizer BioNTech
4           AstraZeneca - AZD1222        AZD1222                  AstraZeneca
...                           ...            ...                          ...
1050     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1051     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1052     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1053     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1054     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute

[1054 rows x 3 columns]

In [20]:
vaccinations_meta_dropped.nunique()

VACCINE_NAME    27
PRODUCT_NAME    27
COMPANY_NAME    23
dtype: int64

In [21]:
vacc_df = vaccinations_meta_dropped.groupby('PRODUCT_NAME')['COMPANY_NAME'].unique()
vaccines_df = vacc_df.apply(pd.Series)
vaccines_df 

vaccines_reset_df = vaccines_df.reset_index()
vaccines_reset_df

,PRODUCT_NAME,0
0,AZD1222,AstraZeneca
1,Ad26.COV 2-S,Janssen Pharmaceuticals
2,BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG)
3,CIGB-66,Center for Genetic Engineering and Biotechnology
4,Comirnaty,Pfizer BioNTech
5,Convidecia,CanSino Biologicals
6,Corbevax,Biological E
7,Coronavac,Sinovac
8,Covaxin,Bharat Biotech
9,Covi-Vac,Chumakov
10,Covidful,Insitute of Medical Biology
11,Covishield,Serum Institute of India
12,EpiVacCorona,State Research Center of Virology & Biotechnology
13,Gam-Covid-Vac,Gamaleya Research Institute
14,Inactivated SARS-CoV-2 vaccine,Wuhan Institute of Biological Products (CNBG)
15,LV-SMENP-DC,Shenzhen GenoImmune Medical Institute
16,NUVAXOVID,Novavax
17,QazVac,Research Institute for Biological Safety Problems
18,Soberana Plus,Instituto Finlay de Vacunas
19,Soberana-02,Instituto Finlay de Vacunas
20,Spikevax,Moderna
21,Sputnik-Light,Gamaleya Research Institute
22,VLA2001,Valneva
23,Vaxzevria,AstraZeneca
24,Zifivax,Anhui Zhifei Longcom Biopharmaceutical
25,ZyCov-D,Zydus Cadila
26,mRNA-1273,Moderna

In [22]:
vaccines_final_df = vaccines_reset_df.rename(columns = {vaccines_reset_df.columns[1]: 'Company_name'})
vaccines_final_df

,PRODUCT_NAME,Company_name
0,AZD1222,AstraZeneca
1,Ad26.COV 2-S,Janssen Pharmaceuticals
2,BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG)
3,CIGB-66,Center for Genetic Engineering and Biotechnology
4,Comirnaty,Pfizer BioNTech
5,Convidecia,CanSino Biologicals
6,Corbevax,Biological E
7,Coronavac,Sinovac
8,Covaxin,Bharat Biotech
9,Covi-Vac,Chumakov
10,Covidful,Insitute of Medical Biology
11,Covishield,Serum Institute of India
12,EpiVacCorona,State Research Center of Virology & Biotechnology
13,Gam-Covid-Vac,Gamaleya Research Institute
14,Inactivated SARS-CoV-2 vaccine,Wuhan Institute of Biological Products (CNBG)
15,LV-SMENP-DC,Shenzhen GenoImmune Medical Institute
16,NUVAXOVID,Novavax
17,QazVac,Research Institute for Biological Safety Problems
18,Soberana Plus,Instituto Finlay de Vacunas
19,Soberana-02,Instituto Finlay de Vacunas
20,Spikevax,Moderna
21,Sputnik-Light,Gamaleya Research Institute
22,VLA2001,Valneva
23,Vaxzevria,AstraZeneca
24,Zifivax,Anhui Zhifei Longcom Biopharmaceutical
25,ZyCov-D,Zydus Cadila
26,mRNA-1273,Moderna

In [23]:
#FINAL VACCINE META DF 
vaccines_final_df

,PRODUCT_NAME,Company_name
0,AZD1222,AstraZeneca
1,Ad26.COV 2-S,Janssen Pharmaceuticals
2,BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG)
3,CIGB-66,Center for Genetic Engineering and Biotechnology
4,Comirnaty,Pfizer BioNTech
5,Convidecia,CanSino Biologicals
6,Corbevax,Biological E
7,Coronavac,Sinovac
8,Covaxin,Bharat Biotech
9,Covi-Vac,Chumakov
10,Covidful,Insitute of Medical Biology
11,Covishield,Serum Institute of India
12,EpiVacCorona,State Research Center of Virology & Biotechnology
13,Gam-Covid-Vac,Gamaleya Research Institute
14,Inactivated SARS-CoV-2 vaccine,Wuhan Institute of Biological Products (CNBG)
15,LV-SMENP-DC,Shenzhen GenoImmune Medical Institute
16,NUVAXOVID,Novavax
17,QazVac,Research Institute for Biological Safety Problems
18,Soberana Plus,Instituto Finlay de Vacunas
19,Soberana-02,Instituto Finlay de Vacunas
20,Spikevax,Moderna
21,Sputnik-Light,Gamaleya Research Institute
22,VLA2001,Valneva
23,Vaxzevria,AstraZeneca
24,Zifivax,Anhui Zhifei Longcom Biopharmaceutical
25,ZyCov-D,Zydus Cadila
26,mRNA-1273,Moderna

In [24]:
vaccines_final_df.to_csv("../CSV_files/FINAL1cleanedvaccinationmetadata.csv", encoding='utf8', index=False)

In [25]:
import psycopg2
#open connection to database
conn_string = """host=localhost 
                dbname=Project_COVID_db 
                user=postgres 
                password=postgres"""
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()
print("Connected!")

Connected!

In [27]:
#Drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS Dailycases")
cursor.execute("DROP TABLE IF EXISTS Vaccinations")
cursor.execute("DROP TABLE IF EXISTS VaccineMetaData")

In [28]:
#Create tables
cursor.execute("""
    CREATE TABLE "Dailycases" (
        Date_reported date PRIMARY KEY,
        Country VARCHAR,
        New_cases INTEGER,
        Cumulative_cases INTEGER,
        New_deaths Integer,
        Cumulative_deaths INTEGER
    )
""")

cursor.execute("""
    CREATE TABLE  "Vaccinations" (
        COUNTRY VARCHAR PRIMARY KEY,
        DATE_UPDATED date,
        TOTAL_VACCINATIONS INTEGER,
        PERSONS_VACCINATED_1PLUS_DOSE INTEGER,
        TOTAL_VACCINATIONS_PER100 decimal,
        PERSONS_VACCINATED_1PLUS_DOSE_PER100 decimal,
        PERSONS_LAST_DOSE INTEGER,
        PERSONS_LAST_DOSE_PER100 decimal,
        FIRST_VACCINE_DATE date,
        NUMBER_VACCINES_TYPES_USED INTEGER,
        PERSONS_BOOSTER_ADD_DOSE INTEGER,
        PERSONS_BOOSTER_ADD_DOSE_PER100 decimal
    )
""")

cursor.execute("""
    CREATE TABLE "VaccineMetaData" (
        PRODUCT_NAME VARCHAR PRIMARY KEY,
        Company_name VARCHAR
        
    )
""")