In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [10]:
# Read the data into a Pandas DataFrame
daily_cases_df = pd.read_csv('../CSV_files/dailycasesdeaths.csv')
daily_cases_df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
336535,2023-11-18,ZW,Zimbabwe,AFRO,0,265890,0,5725
336536,2023-11-19,ZW,Zimbabwe,AFRO,0,265890,0,5725
336537,2023-11-20,ZW,Zimbabwe,AFRO,0,265890,0,5725
336538,2023-11-21,ZW,Zimbabwe,AFRO,0,265890,0,5725
336539,2023-11-22,ZW,Zimbabwe,AFRO,0,265890,0,5725

In [7]:
daily_cases_df = pd.read_csv('../CSV_files/dailycasesdeaths.csv')
daily_cases_df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [4]:
daily_cases_df.to_csv("../CSV_files/cleaneddailycasesdeaths.csv", encoding='utf8', index=False)

In [6]:
daily_cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336540 entries, 0 to 336539
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      336540 non-null  object
 1   Country_code       335120 non-null  object
 2   Country            336540 non-null  object
 3   WHO_region         336540 non-null  object
 4   New_cases          336540 non-null  int64
 5   Cumulative_cases   336540 non-null  int64
 6   New_deaths         336540 non-null  int64
 7   Cumulative_deaths  336540 non-null  int64
dtypes: int64(4), object(4)
memory usage: 20.5+ MB

In [16]:
# Assuming df is your DataFrame
# Convert the 'Date_reported' column to datetime type if it's not already
daily_cases_df['2023-11-22'] = pd.to_datetime(daily_cases_df['Date_reported'])

# Filter the DataFrame for a specific date
desired_date = '2023-11-22'
desired_region = 'AMRO'
filtered_df = daily_cases_df[(daily_cases_df['Date_reported'] == desired_date) & (daily_cases_df['WHO_region'] == desired_region)]

# Print the filtered DataFrame
filtered_df.head(250)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,2023-11-22
9939,2023-11-22,AI,Anguilla,AMRO,0,3904,0,12,2023-11-22
11359,2023-11-22,AG,Antigua and Barbuda,AMRO,0,9106,0,146,2023-11-22
12779,2023-11-22,AR,Argentina,AMRO,0,10054576,0,130472,2023-11-22
15619,2023-11-22,AW,Aruba,AMRO,0,44224,0,292,2023-11-22
21299,2023-11-22,BS,Bahamas,AMRO,0,38084,0,844,2023-11-22
25559,2023-11-22,BB,Barbados,AMRO,0,110095,0,620,2023-11-22
29819,2023-11-22,BZ,Belize,AMRO,0,71060,0,688,2023-11-22
32659,2023-11-22,BM,Bermuda,AMRO,0,18860,0,165,2023-11-22
35499,2023-11-22,BO,Bolivia (Plurinational State of),AMRO,0,1210122,0,22407,2023-11-22
36919,2023-11-22,XA,Bonaire,AMRO,0,9864,0,33,2023-11-22
41179,2023-11-22,BR,Brazil,AMRO,0,37721749,0,704659,2023-11-22
42599,2023-11-22,VG,British Virgin Islands,AMRO,0,7350,0,64,2023-11-22
53959,2023-11-22,CA,Canada,AMRO,0,4716205,0,53297,2023-11-22
55379,2023-11-22,KY,Cayman Islands,AMRO,0,31472,0,37,2023-11-22
59639,2023-11-22,CL,Chile,AMRO,0,5288981,0,61617,2023-11-22
62479,2023-11-22,CO,Colombia,AMRO,0,6384033,0,142942,2023-11-22
68159,2023-11-22,CR,Costa Rica,AMRO,0,1238884,0,9428,2023-11-22
72419,2023-11-22,CU,Cuba,AMRO,0,1115103,0,8530,2023-11-22
73839,2023-11-22,CW,Curaçao,AMRO,0,45883,0,305,2023-11-22
83779,2023-11-22,DM,Dominica,AMRO,0,15798,0,74,2023-11-22
85199,2023-11-22,DO,Dominican Republic,AMRO,0,667075,0,4384,2023-11-22
86619,2023-11-22,EC,Ecuador,AMRO,0,1069742,0,36043,2023-11-22
89459,2023-11-22,SV,El Salvador,AMRO,0,201811,0,4230,2023-11-22
97979,2023-11-22,FK,Falkland Islands (Malvinas),AMRO,0,1923,0,0,2023-11-22
105079,2023-11-22,GF,French Guiana,AMRO,0,98041,0,413,2023-11-22
119279,2023-11-22,GD,Grenada,AMRO,0,19693,0,238,2023-11-22
120699,2023-11-22,GP,Guadeloupe,AMRO,0,203235,0,1021,2023-11-22
123539,2023-11-22,GT,Guatemala,AMRO,0,1271070,0,20235,2023-11-22
129219,2023-11-22,GY,Guyana,AMRO,0,73490,0,1299,2023-11-22
130639,2023-11-22,HT,Haiti,AMRO,0,34458,0,860,2023-11-22
133479,2023-11-22,HN,Honduras,AMRO,0,474593,0,11127,2023-11-22
149099,2023-11-22,JM,Jamaica,AMRO,0,156487,0,3613,2023-11-22
186019,2023-11-22,MQ,Martinique,AMRO,0,230354,0,1104,2023-11-22
191699,2023-11-22,MX,Mexico,AMRO,0,7693120,0,334786,2023-11-22
198799,2023-11-22,MS,Montserrat,AMRO,0,1403,0,8,2023-11-22
212999,2023-11-22,NI,Nicaragua,AMRO,0,16061,0,245,2023-11-22
230039,2023-11-22,PA,Panama,AMRO,0,1047813,0,8659,2023-11-22
232879,2023-11-22,PY,Paraguay,AMRO,0,736009,0,19995,2023-11-22
234299,2023-11-22,PE,Peru,AMRO,0,4522474,0,221727,2023-11-22
241399,2023-11-22,PR,Puerto Rico,AMRO,0,1252713,0,5938,2023-11-22
252759,2023-11-22,XC,Saba,AMRO,0,837,0,2,2023-11-22
254179,2023-11-22,BL,Saint Barthélemy,AMRO,0,5507,0,5,2023-11-22
257019,2023-11-22,KN,Saint Kitts and Nevis,AMRO,0,6607,0,46,2023-11-22
258439,2023-11-22,LC,Saint Lucia,AMRO,0,30151,0,410,2023-11-22
259859,2023-11-22,MF,Saint Martin,AMRO,0,12324,0,46,2023-11-22
261279,2023-11-22,PM,Saint Pierre and Miquelon,AMRO,0,3426,0,2,2023-11-22
262699,2023-11-22,VC,Saint Vincent and the Grenadines,AMRO,0,9644,0,124,2023-11-22
276899,2023-11-22,XB,Sint Eustatius,AMRO,0,1221,0,6,2023-11-22
278319,2023-11-22,SX,Sint Maarten,AMRO,0,11051,0,92,2023-11-22
292519,2023-11-22,SR,Suriname,AMRO,0,82588,0,1408,2023-11-22
308139,2023-11-22,TT,Trinidad and Tobago,AMRO,0,191496,0,4390,2023-11-22
313819,2023-11-22,TC,Turks and Caicos Islands,AMRO,0,6662,0,40,2023-11-22
322339,2023-11-22,US,United States of America,AMRO,0,103436829,0,1138309,2023-11-22
323759,2023-11-22,VI,United States Virgin Islands,AMRO,0,25389,0,132,2023-11-22
325179,2023-11-22,UY,Uruguay,AMRO,0,1040976,0,7664,2023-11-22
329439,2023-11-22,VE,Venezuela (Bolivarian Republic of),AMRO,0,552695,0,5856,2023-11-22

In [3]:
# Read the data into a Pandas DataFrame
vaccinations_df = pd.read_csv('../CSV_files/vaccinationdata.csv')
vaccinations_df.head(10)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,ARG,AMRO,REPORTING,2023-11-17,1.165716e+08,41188650,257.926,91.134,38087569,84.272,NaN,2020-12-29,7.0,27608419.0,61.086
1,Australia,AUS,WPRO,REPORTING,2023-10-05,6.877077e+07,22193733,269.691,87.035,21602288,84.715,NaN,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,BHR,EMRO,REPORTING,2022-12-21,3.476633e+06,1241174,204.319,72.943,1226796,72.098,NaN,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,VGB,AMRO,REPORTING,2023-06-02,4.145300e+04,19466,137.094,64.378,18261,60.393,NaN,2021-02-11,3.0,3726.0,12.323
4,Egypt,EGY,EMRO,REPORTING,2023-05-21,1.126735e+08,56907319,110.103,55.609,42337175,41.371,NaN,2021-01-24,10.0,15217352.0,14.870
5,El Salvador,SLV,AMRO,REPORTING,2023-08-25,1.144838e+07,4659970,176.504,71.844,4396448,67.782,NaN,2021-02-17,6.0,1905226.0,29.374
6,Eswatini,SWZ,AFRO,REPORTING,2023-06-04,8.702050e+05,526050,75.007,45.343,427335,36.834,NaN,2021-03-19,3.0,179450.0,15.468
7,Greece,GRC,EURO,REPORTING,2023-10-01,2.198588e+07,7917288,205.100,75.693,7745574,74.051,NaN,2020-12-23,7.0,5902357.0,56.429
8,Guam,GUM,WPRO,REPORTING,2023-01-31,3.526980e+05,135612,208.975,80.351,128788,76.308,NaN,2021-01-04,3.0,83603.0,49.535
9,India,IND,SEARO,REPORTING,2023-11-23,2.208365e+09,1027419851,160.026,74.450,952128795,68.995,NaN,2021-01-16,8.0,228816435.0,16.581

In [2]:
# Read the data into a Pandas DataFrame
vaccinations_df = pd.read_csv('../CSV_files/vaccinationdata.csv')
vaccinations_df.tail(10)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
219,Russian Federation,RUS,EURO,OWID,2023-09-27,187374508.0,89081596,128.400,61.392,79702396,54.928,NaN,NaN,2.0,NaN,NaN
220,Samoa,WSM,WPRO,REPORTING,2023-02-24,453130.0,191403,228.376,96.466,177954,89.688,NaN,2021-04-18,2.0,82268.0,41.463
221,Sierra Leone,SLE,AFRO,REPORTING,2023-07-30,9155936.0,5676123,114.779,71.156,4961886,62.203,NaN,2021-03-15,2.0,1201709.0,15.065
222,Singapore,SGP,WPRO,REPORTING,2023-08-29,15302530.0,5284679,261.566,90.331,5248693,89.716,NaN,2020-12-30,4.0,4769158.0,81.519
223,Sint Eustatius,XBA,AMRO,REPORTING,2023-06-02,4319.0,1791,137.592,57.056,1686,53.711,NaN,NaN,NaN,767.0,24.435
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,NaN,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,NaN,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,NaN,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,NaN,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,NaN,2021-03-08,6.0,57975220.0,59.560

In [3]:
#drop vaccines used column 
vaccinations_cleaned_df = vaccinations_df.drop('VACCINES_USED', axis=1)

vaccinations_cleaned_df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,ARG,AMRO,REPORTING,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,AUS,WPRO,REPORTING,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,BHR,EMRO,REPORTING,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,VGB,AMRO,REPORTING,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,EGY,EMRO,REPORTING,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [4]:
#drop vaccines used column 
vaccinations1_cleaned_df = vaccinations_cleaned_df.drop('ISO3', axis=1)

vaccinations1_cleaned_df

,COUNTRY,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Argentina,AMRO,REPORTING,2023-11-17,116571595.0,41188650,257.926,91.134,38087569,84.272,2020-12-29,7.0,27608419.0,61.086
1,Australia,WPRO,REPORTING,2023-10-05,68770769.0,22193733,269.691,87.035,21602288,84.715,2021-02-21,5.0,14402265.0,56.480
2,Bahrain,EMRO,REPORTING,2022-12-21,3476633.0,1241174,204.319,72.943,1226796,72.098,2020-11-04,11.0,1008663.0,59.278
3,British Virgin Islands,AMRO,REPORTING,2023-06-02,41453.0,19466,137.094,64.378,18261,60.393,2021-02-11,3.0,3726.0,12.323
4,Egypt,EMRO,REPORTING,2023-05-21,112673535.0,56907319,110.103,55.609,42337175,41.371,2021-01-24,10.0,15217352.0,14.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,SEARO,REPORTING,2023-11-22,2028798.0,886838,153.878,67.264,801759,60.811,2021-04-07,4.0,340201.0,25.803
228,Viet Nam,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,2021-03-08,6.0,57975220.0,59.560

In [8]:
vaccinations1_cleaned_df.to_csv("../CSV_files/cleanedvaccinationdatafinal1.csv", encoding='utf8', index=False)

In [5]:
vaccinations_metadatadf = pd.read_csv('../CSV_files/vaccinationmetadata.csv')
vaccinations_metadatadf.head(10)

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
0,SHN,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
1,GRL,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
2,FRO,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
3,FRO,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
4,BIH,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
5,BIH,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
6,BIH,Sinovac - CoronaVac,Coronavac,Sinovac,NaN,NaN,NaN,NaN,OWID
7,JEY,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
8,JEY,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
9,JEY,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID

In [19]:
columns_to_keep = [ 'VACCINE_NAME', 'PRODUCT_NAME', 'COMPANY_NAME']

vaccines_metadata_cleaned_df = vaccinations_metadatadf[columns_to_keep]

vaccines_metadata_cleaned_df

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [20]:
vaccinations_metadatadf.drop(vaccinations_metadatadf.columns.difference(columns_to_keep), axis=1, inplace=True)

vaccinations_metadatadf

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [21]:
vaccinations_metadatatest = vaccinations_metadatadf

vaccinations_metadatatest

,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME
0,AstraZeneca - AZD1222,AZD1222,AstraZeneca
1,Moderna - mRNA-1273,mRNA-1273,Moderna
2,Moderna - mRNA-1273,mRNA-1273,Moderna
3,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech
4,AstraZeneca - AZD1222,AZD1222,AstraZeneca
...,...,...,...
1100,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1101,Moderna – Spikevax Bivalent Original/Omicron - Generic,Moderna – Spikevax Bivalent Original/Omicron - Generic,NaN
1102,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1103,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN
1104,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,Pfizer BioNTech - Comirnaty Bivalent Original/Omicron - Generic,NaN

In [39]:
vaccinations_meta_dropped = vaccinations_metadatatest.dropna() 
vaccinations_meta_dropped

                     VACCINE_NAME   PRODUCT_NAME                 COMPANY_NAME
0           AstraZeneca - AZD1222        AZD1222                  AstraZeneca
1             Moderna - mRNA-1273      mRNA-1273                      Moderna
2             Moderna - mRNA-1273      mRNA-1273                      Moderna
3     Pfizer BioNTech - Comirnaty      Comirnaty              Pfizer BioNTech
4           AstraZeneca - AZD1222        AZD1222                  AstraZeneca
...                           ...            ...                          ...
1050     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1051     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1052     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1053     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute
1054     Gamaleya - Sputnik-Light  Sputnik-Light  Gamaleya Research Institute

[1054 rows x 3 columns]

In [42]:
vaccinations_meta_dropped.nunique()

VACCINE_NAME    27
PRODUCT_NAME    27
COMPANY_NAME    23
dtype: int64

In [65]:
vacc_df = vaccinations_meta_dropped.groupby('PRODUCT_NAME')['COMPANY_NAME'].unique()
vaccines_df = vacc_df.apply(pd.Series)
vaccines_df 

vaccines_reset_df = vaccines_df.reset_index()
vaccines_reset_df

,PRODUCT_NAME,0
0,AZD1222,AstraZeneca
1,Ad26.COV 2-S,Janssen Pharmaceuticals
2,BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG)
3,CIGB-66,Center for Genetic Engineering and Biotechnology
4,Comirnaty,Pfizer BioNTech
5,Convidecia,CanSino Biologicals
6,Corbevax,Biological E
7,Coronavac,Sinovac
8,Covaxin,Bharat Biotech
9,Covi-Vac,Chumakov
10,Covidful,Insitute of Medical Biology
11,Covishield,Serum Institute of India
12,EpiVacCorona,State Research Center of Virology & Biotechnology
13,Gam-Covid-Vac,Gamaleya Research Institute
14,Inactivated SARS-CoV-2 vaccine,Wuhan Institute of Biological Products (CNBG)
15,LV-SMENP-DC,Shenzhen GenoImmune Medical Institute
16,NUVAXOVID,Novavax
17,QazVac,Research Institute for Biological Safety Problems
18,Soberana Plus,Instituto Finlay de Vacunas
19,Soberana-02,Instituto Finlay de Vacunas
20,Spikevax,Moderna
21,Sputnik-Light,Gamaleya Research Institute
22,VLA2001,Valneva
23,Vaxzevria,AstraZeneca
24,Zifivax,Anhui Zhifei Longcom Biopharmaceutical
25,ZyCov-D,Zydus Cadila
26,mRNA-1273,Moderna

In [68]:
vaccines_final_df = vaccines_reset_df.rename(columns = {vaccines_reset_df.columns[1]: 'Company_name'})
vaccines_final_df

,PRODUCT_NAME,Company_name
0,AZD1222,AstraZeneca
1,Ad26.COV 2-S,Janssen Pharmaceuticals
2,BBIBP-CorV,Beijing Bio-Institute Biological Products (CNBG)
3,CIGB-66,Center for Genetic Engineering and Biotechnology
4,Comirnaty,Pfizer BioNTech
5,Convidecia,CanSino Biologicals
6,Corbevax,Biological E
7,Coronavac,Sinovac
8,Covaxin,Bharat Biotech
9,Covi-Vac,Chumakov
10,Covidful,Insitute of Medical Biology
11,Covishield,Serum Institute of India
12,EpiVacCorona,State Research Center of Virology & Biotechnology
13,Gam-Covid-Vac,Gamaleya Research Institute
14,Inactivated SARS-CoV-2 vaccine,Wuhan Institute of Biological Products (CNBG)
15,LV-SMENP-DC,Shenzhen GenoImmune Medical Institute
16,NUVAXOVID,Novavax
17,QazVac,Research Institute for Biological Safety Problems
18,Soberana Plus,Instituto Finlay de Vacunas
19,Soberana-02,Instituto Finlay de Vacunas
20,Spikevax,Moderna
21,Sputnik-Light,Gamaleya Research Institute
22,VLA2001,Valneva
23,Vaxzevria,AstraZeneca
24,Zifivax,Anhui Zhifei Longcom Biopharmaceutical
25,ZyCov-D,Zydus Cadila
26,mRNA-1273,Moderna